@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter_400Regular';
		font-weight: 400;
		font-size: 16px;
		font-feature-settings:
			'kern' 1,
			'liga' 1,
			'calt' 1;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}
}
